<!-- As a link -->
<div class="home">
    <nav class="navbar  ">
        <div class="logo" style="text-decoration: none;">
            <%= '<AleDevArt />' %>
        </div>
        <div class="logout">
            <a href="/logout">
                <%=usuarioLogado.usuario%> <i class="fas fa-sign-out-alt" aria-hidden="true"></i></a>
        </div>
    </nav>