<%- include('../partial/head.ejs') %>
    <%- include('../partial/nav.ejs') %>
        <%- include('../partial/aside.ejs') %>
            <h1>Ajustes</h1>
            <%- include('../partial/footer.ejs') %>